<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.IBoardDao">
	
	<sql id="title">
		<choose>
			<when test="title != null and title != ''">
				#{title}
			</when>
			<otherwise>
				'제목없음'
			</otherwise>
		</choose>
	</sql>
	
	<sql id="content">
		<choose>
			<when test="content != null and content != ''">
				#{content}
			</when>
			<otherwise>
				'내용없음'
			</otherwise>
		</choose>
	</sql>
	
	<!-- 
		# keyProperty : AUTO_INCREMENT로 생성된 값을 저장할 키
			- num이라는 키 값으로 세팅(모델 클래스인 경우에는 setNum() 함수 실행)
	 -->
	<insert id="insert" parameterType="java.util.Map">
		<selectKey resultType="int" keyProperty="num" order="BEFORE">
			SELECT IFNULL(MAX(NUM), 0) + 1 AS NUM FROM BOARD
		</selectKey>
		
		INSERT INTO BOARD ( 
			  NUM
			, PASS
			, NAME
			, EMAIL
			, TITLE
			, CONTENT
			, READCOUNT
			, WRITEDATE
			, GROUP_CODE
			, GROUP_SEQ
			, GROUP_LV 
		) VALUES ( 
			  ${num}
			, #{pass}
			, #{name}
			, #{email}
			, <include refid="title"></include>
			, <include refid="content"></include>
			, 0
			, SYSDATE()
			, ${num}
			, 0
			, 0
		)
	</insert>
	
	<update id="update" parameterType="java.util.Map">
		UPDATE BOARD SET
			  PASS = #{pass}
			, NAME = #{name}
			, EMAIL = #{email} 
			, TITLE = <include refid="title"></include>
			, CONTENT = <include refid="content"></include>
			<choose>
				<when test="readcount != null">
					, READCOUNT = ${readcount}		
				</when>
			</choose>
			<choose>
				<when test="writedate != null">
					, WRITEDATE = #{writedate}
				</when>
			</choose>
		WHERE NUM = ${num}
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
		DELETE FROM BOARD WHERE NUM = ${num}
	</delete>
	
	<select id="selectOne" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT NUM AS num
			 , PASS AS pass
			 , NAME AS name
			 , EMAIL AS email
			 , TITLE AS title
			 , CONTENT AS content
			 , READCOUNT AS readcount
			 , WRITEDATE AS writedate
		FROM BOARD
		WHERE NUM = ${num}
	</select>
	
	<select id="selectList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT NUM AS num
			 , PASS AS pass
			 , NAME AS name
			 , EMAIL AS email
			 , TITLE AS title
			 , CONTENT AS content
			 , READCOUNT AS readcount
			 , WRITEDATE AS writedate
		FROM BOARD
		LIMIT ${paegSkip}, ${pageSize}
	</select>
	
	<select id="selectBoardByTitle" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT NUM AS num
			 , PASS AS pass
			 , NAME AS name
			 , EMAIL AS email
			 , TITLE AS title
			 , CONTENT AS content
			 , READCOUNT AS readcount
			 , WRITEDATE AS writedatew
		FROM BOARD
		WHERE 1 = 0
		<foreach collection="titles" item="title" open="OR" separator="OR">
			TITLE LIKE '%${title}%'
		</foreach>
	</select>
	
	<select id="selectTotalCount" resultType="int">
		SELECT COUNT(*) FROM BOARD
	</select>
	
</mapper>